.description{
    text-indent: 2em;
    width: 70vw;
    display: flex;
   
   
}

.game{
    margin-left:10vw;
    margin-top:5vh;
     font-size: 26px;
    color:green;
}

body{
background-color: black;
}

.options{
    width: 5vw;
    
}
.options:hover{
    cursor: pointer;
    color: red;
    width: 5vw;
}

/* .options-div:hover{
    color:blue;
} */