.description{
    text-indent: 2em;
    width: 70vw;
    display: flex;
}

.game{
    margin-left:10vw;
    margin-top:5vh;
    font-size: 26px;
    color:green;
}

body{
    background-color: black;
}
header {
    color: green;
    display:flex;
    justify-content: center;
    /* flex-direction: column;     */
}

.footer-div > a{
    color: green;
    padding-left: 2vw;
}
.footer-div {
    display: flex;
    justify-content: flex-end;
    margin-top: 75vh;
    border-top: 2px solid green;
    padding-top: 5vh;
    padding-bottom: 3vh;
    padding-right: 5vw;
}
.options{
    width: 5vw;
    
}
.options:hover{
    cursor: pointer;
}


